# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num = 6

print(num)
print(type(num))

6
<class 'int'>

##### Assinging float

In [2]:
num = 34.7

print(num)
print(type(num))

34.7
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5

result = num1 + num2
print(result)
result += 5 #result = result + 5
print(result)

7
12

##### Subtraction

In [4]:
num1 = 20
num2 = 15

result = num1 - num2
print(result)

5

##### Multiplication

In [5]:
num1 = 2
num2 = 5

result = num1 * num2
print(result)

10

##### Division

In [8]:
num1 = 20
num2 = 5

result = num1 / num2
print(result)

4.0

##### Floor Division

In [11]:
num1 = 20
num2 = 5

result = num1 // num2
print(result)

4

##### Modulo

In [12]:
num1 = 45
num2 = 6

result = num1 % num2
print(result)

3

##### Exponential

In [13]:
num1 = 2
num2 = 5

result = num1 ** num2
print(result)

32

### String Input-Output

##### String Assignment

In [14]:
name1 = "Monti"
print(name1)

Monti

##### Escape Characters

In [ ]:
# \n

In [ ]:
# \t

In [ ]:
# Raw String

##### String Concatenation

In [19]:
fname = "Monti"
lname = "hines"
name = fname + " " + lname.title() + "."
print(name)

Monti Hines.

##### Type Conversion

##### .format() and f-strings

In [24]:
fname = "Monti"
lname = "hines"
print("hello i am {} {} from Virginia".format(fname, lname))
print(f"Hello i am {fname} {lname}")

hello i am Monti hines from Virginia
Hello i am Monti hines

##### Old Way (python 2)

In [25]:
print("Hello my name is %s and last name is %s" % (fname, lname))

Hello my name is Monti and last name is hines

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [22]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

year = int(year)

print("I drive a " + color + " " + str(year+1) + " " + make + " " + model +".")

I drive a blue 2023 Ford Focus.

### Booleans

In [38]:
bool_true = True
print(bool_true)

True

In [40]:
bool_false = False
print(bool_false)

False

### If Statements

In [41]:
# if <expression>:
#     <statement>

if True:
    print('HELLO THIS IS TRUE')

HELLO THIS IS TRUE

In [43]:
if False:
    print("Hello this is false")

In [44]:
print("start code")
if False:
    print("Hello")
    print("Hoe are you")
    print("Well, you")
print("End of code")

start code
End of code

In [ ]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 15
num2 = 5
num3 = 6

print(num1  num2)

In [ ]:
if num1 < num2:
    print("Thats true")

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

### Else Statements

In [ ]:
# An else statement runs when the if statement above it evaluates to False

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [4]:

ticket = 10
person_age = 70 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

if person_age >= 65:
    print("Your ticket is $7.50")
elif person_age <= 8:
    print("Your ticket is $5.00")
else:
    print("Your ticket is $10")

Your ticket is $7.50

### Lists

##### Declaring Lists

##### Indexing a List

In [ ]:
# [start: stop: step]

In [ ]:
#lists are mutable - meaning you can change the values
#item assignment

print(names)
names[1] = "jake"
print(names)

##### .append()

In [50]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

##### .insert()

In [ ]:
# list.insert(index,value) -add value to list at index and push everthing else back one

print(names)

names.insert(3, "henry")

print(names)

##### .pop()

In [ ]:
# list,pop(index) - removes element at index position
#default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)
removed_names = names.pop()
print(names)
print(removed_names)

In [ ]:
#example
another_name = names.pop(2)
print(names)
print(another_name)

# index()

In [ ]:
#list.index(value) - retune the index of the first item to match value

print(names.index(value))

# count()

In [ ]:
# list.count(value) - retunr to count of value in list
print(names.count(value))


##### .remove()

In [ ]:
# list.remove(value) - value to be removed , not index, will remove first instance of item
print(names)
names.remove(value)
print(names)

##### del()

In [ ]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del names[index]
    
print(names)

##### Concatenating Two Lists

In [51]:
# will append two lists together, not add up the elements in each list
list_a = [1,2,3]
list_b = [4,5,6]

list_c = list_a + list_b

print(list_c)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [53]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["max", "sam", "josh", ['sally', 'sue', 'topanga']]

print(names)
print(names[3])
print(type(names[3]))
print(names[3][0])

names[3].append('cory')

print(names)

['max', 'sam', 'josh', ['sally', 'sue', 'topanga']]
['sally', 'sue', 'topanga']
<class 'list'>
sally
['max', 'sam', 'josh', ['sally', 'sue', 'topanga', 'cory']]

### For Loops

In [55]:
# for <keyword> in <iterable>:
#     <statement>
print('begin loop')
for x in [5, 10 , 15, 20, 25, 30, 35, 40]:
    print(x)
print('end loop')

begin loop
5
10
15
20
25
30
35
40
end loop

In [56]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

##### Continue Statement

In [8]:
lists = [10, 20, 30, 40, 50, 60, 70, 80, 90]

print(lists)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
# will continue to next iteration

In [9]:
for element in lists:
    if element == 50:
        continue
    print(element)
    print('hello')

10
hello
20
hello
30
hello
40
hello
60
hello
70
hello
80
hello
90
hello

##### Break Statement

In [ ]:
# will break out of current loop

In [10]:
for element in lists:
    if element == 50:
        break
    print(element)
    print('hello')

10
hello
20
hello
30
hello
40
hello

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Nested/Double For Loops

In [63]:
my_nums = [1, 2, 3, 4]
for i in my_nums:
    for j in my_nums:
        print(f"i = {i}, j= {j}")

i = 1, j= 1
i = 1, j= 2
i = 1, j= 3
i = 1, j= 4
i = 2, j= 1
i = 2, j= 2
i = 2, j= 3
i = 2, j= 4
i = 3, j= 1
i = 3, j= 2
i = 3, j= 3
i = 3, j= 4
i = 4, j= 1
i = 4, j= 2
i = 4, j= 3
i = 4, j= 4

### While Loops

In [66]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0 
print('start while loop')
while num <= 10:
    print(num)
    num += 1
print("end while loop")

start while loop
0
1
2
3
4
5
6
7
8
9
10
end while loop

##### Looping 'While True'

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

##### range()

In [1]:
#Start, Stop, Step

hi = list(range(10))
print(hi)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
hi = list(range(0,101,3))
print(hi)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

##### len()

In [6]:
# check Length of variable
cities = ['chicago', 'new york', 'hampton' 'norfolk']
print(len(cities))

3

In [7]:
name = 'monti'
print(len(name))

5

In [12]:
for index in range(len(cities)):
    print(index, index(cities))

NameError: name 'cities' is not defined

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)

##### isinstance()

In [8]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

some_num = 45

print(isinstance(some_num, int))
print(isinstance(some_num, float))

True
False

### Try and Except

In [ ]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)

    
# Loop with a for loop (Using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [36]:
for num in range(1000):
    result = num**3
    print(result)
    if result >= 1000:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [25]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,101):
    pr = True
    for n in range(2,num):
        if n % num == 0:
            print(num)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age = int(input("How old are you?\n"))

print(input)

if age < 18:
    print("You're a " + str(age) + " year old kid.")
elif age <= 65:
    print("You're a " + str(age) + " year old adult.")
else:
    print("You're a " + str(age) + " year old senior.")